$color-violet: #7510f7;
$bg-black: #141c3a;
$color-black: #0a0a0a;
$color-white: #fff;
$ff-eurostile: 'Eurostile Extended', sans-serif;
$ff-europa: 'Europa', sans-serif;
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-lg: 18px;
$fw-light: 400;
$fw-medium: 600;
$fw-bold: 800;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
