extends ../base/layout.pug

block title 
    title Matt Farley | Design, Front-end Developer & Mentor
block content 
    main 
        +hero
        +aboutMe(profile)
        +cardSkill
        +project(itemProject)
        +client
        +aboutMe(project)
        +startup
        +testimonials
        +cta
