@import '../base/mixin';
@import '../base/variables';
footer {
  background-color: $color-violet;
  color: $color-white;
  & .desc-center {
    display: flex;
    justify-content: center;
    & .desc {
      //   width: 33%;
      font-size: 1.6rem;
      margin: 2rem auto;
      @include md {
        width: 33%;
      }
    }
  }
  & .made-by-bulma {
    opacity: 0.6;
    & img {
      width: 163px;
      height: 30px;
    }
  }
}
