-
    var hero = [
        {
            title:'Designer, Front-end Developer & Mentor',
            subtitle:'I design and code beautifully simple things, and I love what I do.',
            avtSrc:'https://mattfarley.ca/img/mf-avatar.svg',
            avtAlt:'hero avatar',
            imgFooter:'https://mattfarley.ca/img/hero.svg',
            imgAlt:'hero footer img'
        } 
    ]
-
    var profile = [
        {
            title:'Hi, I’m Matt. Nice to meet you.',
            desc:'Since beginning my journey as a freelance designer nearly 10 years ago, Ive done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. Im quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.'
        } 
    ]
-
    var project = [
        {
            title:'My Startup Projects',
            desc:'Im a bit of a digital product junky. Over the years, Ive used hundreds of web and mobile apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.'
        } 
    ]
-
    var skills = [
        {
            src:'https://mattfarley.ca/img/icons/designer.svg',
            alt:"logo",
            title:'Designer',
            desc:'I value simple content structure, clean design patterns, and thoughtful interactions.',
            learnTitle:'Things I enjoy designing:',
            learnTxt:'UX, UI, Web, Mobile, Apps, Logos',
            toolTitle:'Design Tools:',
            toolItem:[
                'Balsamiq Mockups',
                ' Mockups',
            ]
        } ,
        {
            src:'https://mattfarley.ca/img/icons/designer.svg',
            alt:"logo",
            title:'dev',
            desc:'I value simple content structure, clean design patterns, and thoughtful interactions.',
            learnTitle:'Things I enjoy designing:',
            learnTxt:'UX, UI, Web, Mobile, Apps, Logos',
            toolTitle:'Design Tools:',
            toolItem:[
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups',
            ]
        } ,
        {
            src:'https://mattfarley.ca/img/icons/designer.svg',
            alt:"logo",
            title:'Designer',
            desc:'I value simple content structure, clean design patterns, and thoughtful interactions.',
            learnTitle:'Things I enjoy designing:',
            learnTxt:'UX, UI, Web, Mobile, Apps, Logos',
            toolTitle:'Design Tools:',
            toolItem:[
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups',
                'Balsamiq Mockups'
            ]
        } 
    ]
-
    var itemProject = [
        {
            src:'https://mattfarley.ca/img/projects/wfdesignbuild.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'Visit Website'
        },
        {
            src:'https://mattfarley.ca/img/projects/glcsolutions.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'view more'
        },
        {
            src:'https://mattfarley.ca/img/projects/glcsolutions.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'view more'
        },
        {
            src:'https://mattfarley.ca/img/projects/glcsolutions.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'view more'
        },
        {
            src:'https://mattfarley.ca/img/projects/glcsolutions.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'view more'
        },
        {
            src:'https://mattfarley.ca/img/projects/glcsolutions.png',
            alt:'logo',
            desc:'High-end, custom residential renovaters serving Fraser Valley homeowners.',
            button:'view more'
        } 
    ]
-
    var client = [
        {
            src:'https://mattfarley.ca/img/logos/briteweb.svg',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/goodkind.svg',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/redstamp.svg',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/domain7.svg',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/designlab.png',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/chronicled.svg',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/bldrs.png',
            alt:'logo',
        },
        {
            src:'https://mattfarley.ca/img/logos/serpmetrics.svg',
            alt:'logo',
        }

    ]
-
    var startup = [
        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        },

        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        },
        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        },

        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        },
        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        },

        {
            src:'https://mattfarley.ca/img/logos/kybercore.svg',
            alt:'logo',
            txt:'Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.',
            link:'www.usebasin.com'
        }


    ]
-
    var callout = [
        {
            title:'Interested in collaborating or investing?',
            desc:'I’m always open to discussing product design work or partnership opportunities.',
            button:'Start a conversation'
        } 
    ]
-
    var testimonial = [
        {
            title:'Testimonials',
            desc:"People I've worked with have said some nice things..."
        } 
    ]
-
    var author = [
        {
            src:'https://mattfarley.ca/img/avatars/pascal.png',
            alt:'author image',
            desc:'“Matt was a real pleasure to work with and we look forward to working with him again. He’s definitely the kind of designer you can trust with a project from start to finish.”',
            title:'Pascal Tremblay',
            subtitle:'Creative Lead, Good Kind'
        } 
    ]
