mixin footer
    footer
        .container.text-center
            +logo('#','logo',"https://mattfarley.ca/img/mf-logo-white.svg",'48px')(class="logo")
            .desc-center 
                h2.desc Living, learning, & leveling up one day at a time.
            p.copyright Handcrafted by metwentytwenty
            a.made-by-bulma(href="#")
                img(src="https://bulma.io/images/made-with-bulma--white.png" alt="") 

