mixin cta 
    section.cta
        .container 
            .cta__wrapper 
                .row 
                    .col-md-4.col-12 
                        h2.title.title--medium Start a project 
                    .col-md-4.col-12 
                        p.desc Interested in working together? We should queue up a chat. I’ll buy the coffee.
                    .col-md-4.col-12 
                        +button('Lets do this')(class="btn--medium")